*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
  }
  .message{
    padding: 0.5em 0;
    line-height: 0.5em;
    margin-left: 65px;
  
  
  }
    header{
        width:100%;
        background-color:#f4f4f4;
        display:flex;
        }
        
        header a{
        color:black;
        }
        
        header a:hover{
        color:#131417;
        }
        
        header section{
        width:100%;
        padding:0.5rem 2rem;
        font-size:14px;
        display:flex;
    }
        
        header section span{
        padding:0 0.5rem;
        text-align:center;
        white-space:nowrap;
        }
        
        
        header span .fa{
        margin:0 5px;
        }
        
      
        
        @media (max-width:920px){
        header section:nth-child(1){
        display:none !important;
        }
        header section{
        padding:0.5rem 0rem;
        }
        } 
        
        @media (max-width:340px){
        header section span{
        padding:0 2px;
        }
        }
  
        /* navbar */
         a{
          text-decoration: none;
         }
        .header2{
          position:relative;
          padding:0 2rem;
          background-color:#94c9e0 ;
          margin-top: 29px;
        }
        
        .navbar{
          display:flex;
          height:60px;
          max-width:1200px;
          margin:0 auto;
          font-size: 20px;
          align-items:center;
          justify-content:space-between;
        }
        
        .navbar .logo a{
          font-size:0.5rem;
        }
        
        .navbar .links{
          display:flex;
          gap:2rem;
        }
        
        .navbar .toggle_btn{
          color:#fff;
          cursor:pointer;
          display:none;
          font-size:0.5rem;
        }
        
       
       
        @media(max-width:992px){
          .navbar .links,
          .navbar .action_btn{
            display:none;
          }
          .navbar .toggle_btn{
            display:block;
          }
          .dropdown_menu{
            display:block;
          }
        }
        
        @media(max-width:576px){
          .dropdown_menu{
            left:2rem;
            width:unset;
          }
        }

.bg-images{
    text-align: center;
  }
  .bg-images img{
    width:800px;
    object-fit: cover;
  }
  .bg-images{
    background-color: #f3f3f3;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .main-head-of-products{
    color:black;
    padding-top:50px;
    text-align: center;
  }
  .colored-word{
    color:#f84258;
  }
  .colored-word-bigger-size{
    color:#f84258;
    font-size:35px;
  }
  .bigletter{ 
    font-size: 80px;
  }
  .header-categories{
    text-align: center;
    padding-top:200px;
    font-size:23px;
    color:black;  
  }
  .info-of-head{
    text-align: center;  
  }
  .products-hr{
    border: 1px solid black;
    width:100%;
  }
  .kurti, .western, .heels, .g-shoes, .shirts, .shoes, .joggers, .jeans{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    
  }
  @media screen and (max-width:974px){
    .kurti, .western, .heels, .g-shoes, .shirts, .shoes, .joggers, .jeans{
      padding-left:20px;
      padding-right:20px;
    }
  }
  .btn-of-img{
    border:none;
    position: absolute;
  }
  .sry-msg{
    color:black;
    text-align:center;
    padding-bottom:20px;
  } 
  
  .cart-details{
    padding-left:50px;
  }
  .cart-details li{
    list-style-type:decimal;
  }
  .head-of-cart{
    color:#f84258;
  
  }
  .hr-of-cart-head{
    border: 1px solid black;
    width:120px;
  }
  .msg-ps{
    color:black;
  }
  .last-hr-of-product{
    border: 1px solid black;
    width:70%;
  }
  .btn-clear-list{
    width: 100px;
    height: 40px;
    cursor: pointer;
    transition: 0.2s;
    background: none;
    border:none;
  }
  .btn-clear-list:hover{
    background-color: #ece3e3;
  }
  .ul_pr li{
    font-size:18px;
  }
  img{
    cursor: pointer;
    width: 91%;
  }
  .container1{
	max-width: 1170px;
	margin:auto;
}
.row1{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
